//mixin
@use '../partials/variables' as*;

@mixin border-solid {
    border: 1px solid $border-light;
    border-radius: 5px;

}

@mixin border-radius-solid {
    border: 1px solid $border-light;
    border-radius: 100px;
}