//mixin
@use '../partials/variables' as*;

@mixin border-solid {
    border: 1px solid $border-light;
    border-radius: 5px;

}

@mixin border-radius-solid {
    border: 1px solid $border-light;
    border-radius: 15px;
}

@mixin link {
    color: $quaternary-color;
    font-weight: 300;
    font-size: 0.8rem;
}


@mixin shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); // ombreggiatura leggera e sottile

}