// Palette di colori
$primary-color: #00CCBC; // Brand color - buttons - icons 
$secondary-color: #2E3333; //background Footer - titles and paragraph
$tertiary-color: #434848; //card in footer
$quaternary-color: #F7F7F7; // title and paragraph in footer, and buttons

// Tipografia
//installazione di poppins
/*$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Spaziature
$spacing-unit: 1rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;