//file importati
@use './assets/partials/variables' as*;
@import "bootstrap/scss/bootstrap";




//Stili globali  
body {
    //momentaneamente arancione
    background-color: $primary-color;
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-base; //16px
}

h1,
h2,
h3,
h4,
h5 {
    color: $secondary-color;
}

p,
li {
    font-family: 'Inter', sans-serif;
    color: $secondary-color;
    font-weight: 300;
    line-height: 1.5rem;
}


* {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

ul {
    padding: 0px;
}